# data analysis notebook

In [1]:
import numpy as np
import pandas as pd
from data import gatherData
from utils import load_config_file

In [2]:
config = load_config_file("config.yml")

In [3]:
gather_data_obj = gatherData(config=config)

In [4]:
(
    lap_times_df,
    pit_stops_df,
    qualifying_df,
    races_df,
    results_df,
    sprint_results_df,
    status_df,
) = gather_data_obj.load_data()

In [12]:
lap_times_race_driver = lap_times_df[
    (lap_times_df["driverId"] == driver_id) & (lap_times_df["raceId"] == race_id)
]
lap_times_race_driver = lap_times_race_driver.reset_index(drop=True)
lap_times_race_driver

    raceId  driverId  lap  position      time  milliseconds
0      841       153    1        21  2:13.879        133879
1      841       153    2        21  1:40.659        100659
2      841       153    3        21  1:33.293         93293
3      841       153    4        21  1:33.144         93144
4      841       153    5        21  1:33.320         93320
5      841       153    6        21  1:33.570         93570
6      841       153    7        19  1:35.336         95336
7      841       153    8        18  1:34.601         94601
8      841       153    9        18  1:33.882         93882
9      841       153   10        17  1:33.983         93983
10     841       153   11        17  1:35.061         95061
11     841       153   12        16  1:35.074         95074
12     841       153   13        15  1:34.964         94964
13     841       153   14        14  1:34.918         94918
14     841       153   15        12  1:35.373         95373
15     841       153   16        11  1:35.601         95601
16     841       153   17        17  1:57.713        117713
17     841       153   18        16  1:42.519        102519
18     841       153   19        16  1:33.762         93762
19     841       153   20        16  1:33.202         93202
20     841       153   21        16  1:33.091         93091
21     841       153   22        16  1:32.552         92552
22     841       153   23        14  1:35.610         95610
23     841       153   24        14  1:33.247         93247
24     841       153   25        14  1:33.530         93530
25     841       153   26        14  1:35.001         95001
26     841       153   27        14  1:33.705         93705
27     841       153   28        14  1:33.521         93521
28     841       153   29        14  1:33.683         93683
29     841       153   30        13  1:33.477         93477
30     841       153   31        13  1:33.791         93791
31     841       153   32        13  1:33.776         93776
32     841       153   33        13  1:34.080         94080
33     841       153   34        13  1:34.058         94058
34     841       153   35        14  1:58.520        118520
35     841       153   36        14  1:39.866         99866
36     841       153   37        14  1:33.089         93089
37     841       153   38        14  1:31.160         91160
38     841       153   39        14  1:30.722         90722
39     841       153   40        14  1:30.687         90687
40     841       153   41        14  1:30.467         90467
41     841       153   42        14  1:30.526         90526
42     841       153   43        14  1:31.149         91149
43     841       153   44        14  1:30.744         90744
44     841       153   45        14  1:31.464         91464
45     841       153   46        14  1:31.217         91217
46     841       153   47        14  1:31.270         91270
47     841       153   48        14  1:31.449         91449
48     841       153   49        13  1:32.295         92295
49     841       153   50        13  1:34.298         94298
50     841       153   51        13  1:32.443         92443
51     841       153   52        13  1:32.151         92151
52     841       153   53        13  1:32.316         92316
53     841       153   54        13  1:33.352         93352
54     841       153   55        13  1:33.145         93145
55     841       153   56        13  1:35.139         95139
56     841       153   57        13  1:34.478         94478

In [13]:
qualifying_race_driver = qualifying_df[
    (qualifying_df["driverId"] == driver_id) & (qualifying_df["raceId"] == race_id)
]
qualifying_race_driver = qualifying_race_driver.reset_index(drop=True)
qualifying_race_driver

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,4548,841,153,5,19,12,1:26.620,1:26.103,\N

In [14]:
pit_stops_race_driver = pit_stops_df[
    (pit_stops_df["driverId"] == driver_id) & (pit_stops_df["raceId"] == race_id)
]
pit_stops_race_driver = pit_stops_race_driver.reset_index(drop=True)
pit_stops_race_driver

   raceId  driverId  stop  lap      time duration  milliseconds
0     841       153     1    1  17:05:23   26.898         26898
1     841       153     2   17  17:31:06   24.463         24463
2     841       153     3   35  17:59:45   26.348         26348

In [17]:
races_race = races_df[races_df["raceId"] == race_id]
races_race = races_race.reset_index(drop=True)
races_race

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,841,2011,1,1,Australian Grand Prix,2011-03-27,06:00:00,http://en.wikipedia.org/wiki/2011_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [20]:
results_race_driver = results_df[
    (results_df["raceId"] == race_id) & (results_df["driverId"] == driver_id)
]
results_race_driver = results_race_driver.reset_index(drop=True)
results_race_driver

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,20789,841,153,5,19,12,11,11,11,0.0,57,\N,\N,41,10,1:30.467,211.025,11

In [22]:
sprint_race_driver = sprint_results_df[
    (sprint_results_df["raceId"] == race_id)
    & (sprint_results_df["driverId"] == driver_id)
]
sprint_race_driver = sprint_race_driver.reset_index(drop=True)
sprint_race_driver

Empty DataFrame
Columns: [resultId, raceId, driverId, constructorId, number, grid, position, positionText, positionOrder, points, laps, time, milliseconds, fastestLap, fastestLapTime, statusId]
Index: []

In [25]:
laptimes_by_driver = lap_times_df[lap_times_df["driverId"] == driver_id]
laptimes_by_driver = laptimes_by_driver.reset_index(drop=True)
races_df_imporant_columns = ["raceId", "year", "round", "circuitId", "name", "date"]

In [28]:
merged_df = pd.merge(
    lap_times_df, races_df[races_df_imporant_columns], on="raceId", how="left"
)

In [29]:
merged_df

,raceId,driverId,lap,position,time,milliseconds,year,round,circuitId,name,date
0,841,20,1,1,1:38.109,98109,2011,1,1,Australian Grand Prix,2011-03-27
1,841,20,2,1,1:33.006,93006,2011,1,1,Australian Grand Prix,2011-03-27
2,841,20,3,1,1:32.713,92713,2011,1,1,Australian Grand Prix,2011-03-27
3,841,20,4,1,1:32.803,92803,2011,1,1,Australian Grand Prix,2011-03-27
4,841,20,5,1,1:32.342,92342,2011,1,1,Australian Grand Prix,2011-03-27
...,...,...,...,...,...,...,...,...,...,...,...
551737,1110,817,40,17,1:54.361,114361,2023,12,13,Belgian Grand Prix,2023-07-30
551738,1110,817,41,17,1:53.367,113367,2023,12,13,Belgian Grand Prix,2023-07-30
551739,1110,817,42,16,1:55.247,115247,2023,12,13,Belgian Grand Prix,2023-07-30
551740,1110,817,43,16,1:52.115,112115,2023,12,13,Belgian Grand Prix,2023-07-30
551741,1110,817,44,16,1:52.265,112265,2023,12,13,Belgian Grand Prix,2023-07-30